body {
    background-color: #ffffad;
}

.footer {
    background-color: #adadff;
    font-weight: bold;
    width: 100%;
    position: absolute;
    bottom: 0em;
    padding: 0.3em;
    color: white;
}

.title-bar {
    background-color: #ffadd6;
    font-weight: bold;
    color: white;
    width: 100%;
    position: absolute;
    top: 0em;
    padding: 0.3em;
}

.page {
    background-color: #adffd6;
    color: black;
    margin: auto;
    width: 75%;
    padding: 1em;
    position: relative;
    top: 1.5em;
}

.braille-tile {
}
